
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
    background :url(img.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
main {
    padding: 20px;
}

.registration-form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px 45px 20px 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255,.2);
    border-radius:40px;
    background: transparent;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur();
    box-shadow: 0 0 10px rgba(0, 0, 0,.2);
}

.registration-form h2 {
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-size: 30px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: #fff;
}

.registration-form select,
.registration-form input[type="text"],
.registration-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.registration-form textarea {
    resize: vertical;
}

.registration-form button {
    background-color: #fff;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.registration-form button:hover {
    background-color: #fff;
}
